In [ ]:
# Buat program yang menampilkan nama dan umur.
nama = "Yanto"
umur = 38
print(f"Nama : {nama} \nUmur : {umur}")

Nama : Yanto
Umur : 38

In [ ]:
# Buat variabel untuk menyimpan nilai luas dan keliling lingkaran, hitung hasilnya.
from math import pi

jari = 8
luas = pi *jari**2
keliling = 2*pi*jari
print(f"Luas Lingkaran : {luas} \nKeliling Lingkaran : {keliling}")

Luas Lingkaran : 201.06192982974676
Keliling Lingkaran : 50.26548245743669

In [ ]:
# Tampilkan tipe data dari variabel yang menyimpan angka dan teks.
angka = 129
teks = 'ini angka'
print(f"Tipe Data Angka : {type(angka)} \nTipe Data Teks : {type(teks)}")

Tipe Data Angka : <class 'int'>
Tipe Data Teks : <class 'str'>

In [ ]:
# Buat program yang mengubah nilai dari tipe integer menjadi float.
nilai = 100
print(f'nilai kamu adalah {nilai} dan tipe datanya adalah {type(nilai)}')
nilai = float(nilai)
print(f'nilai kamu adalah {nilai} dan tipe datanya adalah {type(nilai)}')

nilai kamu adalah 100 dan tipe datanya adalah <class 'int'>
nilai kamu adalah 100.0 dan tipe datanya adalah <class 'float'>

In [ ]:
# Buat program yang mengubah string menjadi integer dan sebaliknya.
a = "123"
print(f"Tipe Data a : {type(a)}")
a = int(a)
print(f"Tipe Data a : {type(a)}")

Tipe Data a : <class 'str'>
Tipe Data a : <class 'int'>

In [ ]:
# Buat program yang mengalikan string dengan angka
text = "ulang "
multiplied_text = text * 3
print(multiplied_text)

ulang ulang ulang

In [ ]:
# Buat program yang memeriksa apakah angka adalah bilangan genap atau ganjil
number = 7
if number % 2 == 0:
  print("Genap")
else:
  print("Ganjil")

Ganjil

In [ ]:
# Buat program yang memeriksa apakah sebuah nilai lebih besar dari 100
value = 150
if value > 100:
    print("lebih dari 100")
else:
    print("100 atau kurang dari")

lebih dari 100

In [ ]:
# Buat program yang menerima input umur dan menampilkan kategori umur (anak-anak, remaja, dewasa)
age = 16
if age <= 12:
    print("Anak-anak")
elif 13 <= age <= 17:
    print("Remaja")
else:
    print("Dewasa")

Remaja

In [ ]:
# Buat program yang meminta input nama pengguna, jika nama benar tampilkan "Selamat datang"
username = input("Enter username: ")
if username == "Jono":
    print("Selamat datang {username}")
elif username == "Slamet":
    print(f"Selamat datang {username}")
else:
    print("Nama tidak dikenali")

Enter username: Slamet
Selamat datang Slamet

In [ ]:
# Buat program yang menampilkan apakah suatu tahun adalah tahun kabisat
year = 2024
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Tahun Kabisat")
else:
    print("Bukan Tahun Kabisat")

Tahun Kabisat

In [ ]:
# Buat program untuk menentukan apakah seseorang boleh memberikan suara berdasarkan umurnya
age = 18
if age >= 18:
    print("Boleh memberikan suara")
else:
    print("Tidak boleh memberikan suara")

Boleh memberikan suara

In [ ]:
# Buat program yang meminta input tiga angka dan menampilkan angka terbesar.
a, b, c = 3, 7, 5
largest = max(a, b, c)
print(f"Nilai terbesar {largest}")

Nilai terbesar 7

In [ ]:
# Buat program yang mengecek apakah dua string memiliki panjang yang sama
str1 = "hello"
str2 = "world"
if len(str1) == len(str2):
    print("Memiliki Panjang yg sama")
else:
    print("Memiliki panjang yg berbeda")

Memiliki Panjang yg sama

In [ ]:
# Buat program yang menampilkan angka 1 sampai 10 menggunakan for loop
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Buat program yang menampilkan bilangan genap dari 2 sampai 20 menggunakan while loop
i = 2
while i <= 20:
    print(i)
    i += 2

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Buat program yang menerima input dan menampilkan kalimat tersebut sebanyak 5 kali
sentence = input("Masukkan Kalimat: ")
for _ in range(5):
    print(sentence)

Masukkan Kalimat: ibal
ibal
ibal
ibal
ibal
ibal

In [ ]:
# Buat program untuk menghitung jumlah angka dari 1 sampai N
N = 10
total_sum = sum(range(1, N + 1))
print(f"Sum dari 1 to {N} adalah {total_sum}")

Sum dari 1 to 10 adalah 55

In [ ]:
# Buat program yang menggunakan break untuk keluar dari loop jika kondisi tertentu terpenuhi
for i in range(1, 11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [ ]:
# Buat program yang menggunakan continue untuk melewati iterasi tertentu dalam loop
for i in range(1, 11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
# Buat program yang menampilkan tabel perkalian 1 sampai 10
for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}")
    print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
# Buat program untuk menghitung jumlah bilangan ganjil antara dua bilangan yang diberikan
start = 1
end = 10
sum_odds = sum(i for i in range(start, end + 1) if i % 2 != 0)
print(f"Sum of odd numbers between {start} and {end} is {sum_odds}")

Sum of odd numbers between 1 and 10 is 25

In [ ]:
# Buat fungsi untuk menghitung luas segitiga
def triangle_area(base, height):
    return 0.5 * base * height

print(triangle_area(10, 5))

25.0

In [ ]:
# Buat fungsi yang menerima nama dan menampilkan "Halo, [nama]"
def greet(name):
    print(f"Halo, {name}")

greet("Alice")

Halo, Alice

In [ ]:
# Buat fungsi untuk memeriksa apakah suatu angka adalah bilangan prima
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

print(is_prime(7))

True

In [ ]:
# Buat fungsi yang mengembalikan nilai maksimum dari tiga angka
def max_of_three(a, b, c):
    return max(a, b, c)

print(max_of_three(3, 7, 5))

7

In [ ]:
# Buat fungsi yang mengkonversi suhu dari Celcius ke Fahrenheit
def celsius_ke_fahrenheit(celsius):
    return (celsius * 9/5) + 32

print(celsius_ke_fahrenheit(30))

86.0

In [ ]:
# Buat fungsi yang menerima dua string dan menggabungkannya.
def gabung(str1, str2):
    return str1 + str2

print(gabung("Hello, ", "World!"))

Hello, World!

In [ ]:
# Buat fungsi rekursif untuk menghitung faktorial dari suatu angka.
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(5))

120

In [ ]:
# Buat fungsi untuk menghitung total bilangan dalam sebuah list.
def sum_list(numbers):
    return sum(numbers)

print(sum_list([1, 2, 3, 4, 5]))

15

In [ ]:
# Buat program yang membuat list dari 5 nama.
names = ["Alice", "Bob", "Charlie", "David", "Eve"]

In [ ]:
# Buat program untuk mengakses elemen pertama dan terakhir dari sebuah list.
print(names[0])
print(names[-1])

Alice
Eve

In [ ]:
# Buat program untuk menambahkan elemen baru ke list.
names.append("Frank")
print(names)

['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank']

In [ ]:
# Buat program untuk menghapus elemen tertentu dari list.
names.remove("Charlie")
print(names)

['Alice', 'Bob', 'David', 'Eve', 'Frank']

In [ ]:
# Buat program yang menghitung jumlah elemen dalam list.
print(len(names))

5

In [ ]:
# Buat program yang mengurutkan list angka secara ascending.
numbers = [3, 1, 4, 1, 5]
numbers.sort()
print(numbers)

[1, 1, 3, 4, 5]

In [ ]:
# Buat program untuk membuat tuple yang berisi 5 bilangan.
numbers_tuple = (1, 2, 3, 4, 5)

In [ ]:
# Buat program untuk memeriksa apakah elemen ada dalam tuple.
print(3 in numbers_tuple)  # Output: True

True

In [ ]:
# Buat dictionary untuk menyimpan nama dan nilai siswa.
students = {"Alice": 85, "Bob": 90, "Charlie": 78}

In [ ]:
# Buat program untuk menampilkan nilai seorang siswa dari dictionary.
print(students["Alice"])

85

In [ ]:
# Buat program untuk menambahkan siswa baru ke dictionary.
students["David"] = 88
print(students)

{'Alice': 85, 'Bob': 90, 'Charlie': 78, 'David': 88}

In [ ]:
# Buat program yang menghapus entri dari dictionary berdasarkan nama siswa.
del students["Bob"]
print(students)

{'Alice': 85, 'Charlie': 78, 'David': 88}

In [ ]:
# Buat program untuk mengupdate nilai siswa dalam dictionary.
students["Alice"] = 95
print(students)

{'Alice': 95, 'Charlie': 78, 'David': 88}

Buat program yang menampilkan semua nama siswa dari dictionary.

In [ ]:
# Buat program yang menampilkan semua nama siswa dari dictionary.
print(students.keys())

dict_keys(['Alice', 'Charlie', 'David'])

In [ ]:
# Buat program yang menampilkan semua nilai siswa dari dictionary.
print(students.values())

dict_values([95, 78, 88])

In [ ]:
# Buat program untuk mengubah nilai menjadi list dari sebuah dictionary.
scores_list = list(students.values())
print(scores_list)

[95, 78, 88]

In [ ]:
# Buat program untuk membuat set yang berisi angka-angka unik.
unique_numbers = {1, 2, 3, 4, 5}

In [ ]:
string = "hello world"
vowels = [char for char in string if char in 'aeiou']
print(vowels)

['e', 'o', 'o']